<div class="set_backgroud_full_screen_img">
    <div id="sidebar-wrapper">   
        <div id="categorias_format" >Find product</div>
        <form id="search_form_style"  role="form">
            <input type="text" placeholder="Search" aria-label="Search" ng-model="word_search.search">
            <button class="btn btn-primary btn-rounded" type="submit" ng-click="procurar_all(word_search.search)">Search</button>
        </form>
        <div id="categorias_format" >Products</div>    
        <div ng-repeat="product in products" ng-click="get_all_products(product.id)">
            <a ng-click="add_product(product)" class="list-group-item list-group-item-action bg-light">{{product.product}}</a>
        </div>
        <div id="categorias_format" >Menus</div>  
        <div ng-repeat="menu in menus">
            <a color="black" ng-click="get_all_menus(menu.id)" class="list-group-item list-group-item-action bg-light">{{menu.descri}}</a>
        </div>
    </div>
    <div>
        <div align="left" id="sidebar-mesa">
            <form id="paper" method="get" action="#/pay">	
                <textarea rows='33' id="texSide" placeholder='Products by table'></textarea>
                <input id="buttonMesa" ng-click="deleteAndPassInfo" type="submit" value="Pay build">
            </form>
        </div>
        <div id="wrapper">    
            <div ng-repeat="table in tables" ng-click="get_all_tables(table)">
                <h1><a ng-click="fillSideBar(table)"  class="example-1"><b>{{table.id}}</b></a></h1>
            </div>
        </div>
    </div>
</div>




