apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: get-products
    visualize: "true"
  name: get-products-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: get-products
  template:
    metadata:
      labels:
        app: get-products
        visualize: "true"
    spec:
      containers:
        - image: get-products:{{CONTAINER_VERSION}}
          name: get-products
          ports:
            - name: hazlecast
              containerPort: 5701
              hostPort: 5701