apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: login
    visualize: "true"
  name: login-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: login
  template:
    metadata:
      labels:
        app: login
        visualize: "true"
    spec:
      containers:
        - image: login:{{CONTAINER_VERSION}}
          name: login
          ports:
            - name: hazelcast
              containerPort: 5701