apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: update-table
    visualize: "true"
  name: update-table-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: update-table
  template:
    metadata:
      labels:
        app: update-table
        visualize: "true"
    spec:
      containers:
        - image: update-table:{{CONTAINER_VERSION}}
          name: update-table
          ports:
            - name: hazelcast #Limit 15 characters
              containerPort: 5701